@media (min-width: 600px) {
  md-card {
    width: 500px;
    margin: 100px auto 0;
  }
}

@media (max-width: 599px) {
  md-card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: none;
  }
  :host /deep/ .md-subhead {
    width: 40%;
  }
}

.list-header {
  display: flex;
  flex-direction: row;
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  border-bottom: solid 1px rgba(0, 0, 0, .1);
  /*justify-content: flex-start;*/
}
.column-name {
  width: 40%;
  margin-right: 5px;
}
.column-status {
  flex: 1;
}
