@media (min-width: 600px) {
  md-card {
    width: 500px;
    margin: 100px auto 0;
  }
}

@media (max-width: 599px) {
  md-card {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-shadow: none;
  }
}
