<md-card class="card">
  <img md-card-image class="hacksaw-icon" src="assets/icons/hacksaw_512.png" alt="Hacksaw">
  <md-card-content>
    <p>
      Hacksaw eases your transition away from Microsoft Office. 
      Deep document analysis gives advanced insight into the problems 
      you might face when converting your Office files to Google Docs.
      Integration with Google drive makes analysis easy. Advanced conversion
      allows for complex Excel files to be transformed into Google Sheets. 
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="redirectInstall()">INSTALL</button>
    <button md-button (click)="redirectShare()">SHARE</button>
  </md-card-actions>
</md-card>